nola-bot-workflow.json
{
  "name": "Nola",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "05a0ee4b-b327-4420-8b79-3aff80fb30ba",
      "name": "AI Agent",
      "notes": "Você é o assistente de suporte técnico da Nola. Sua única fonte de verdade é a ferramenta Google Sheets.\n\nREGRAS DE OURO:\n\nSua resposta deve ser EXATAMENTE o texto que você encontrar na planilha. Não mude vírgulas, não resuma e não adicione conselhos extras.\n\nSe a pergunta do usuário não tiver uma resposta correspondente na planilha, responda apenas: 'Desculpe, não encontrei essa informação. Posso te transferir para um atendente humano?'\n\nÉ terminantemente PROIBIDO exibir códigos como <google_search>, chaves { }, ou nomes de funções na resposta final.\n\nResponda sempre em Português e mantenha o formato de texto limpo.\n\nUse a ferramenta Google Sheets para cada nova pergunta recebida."
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        512,
        208
      ],
      "id": "1012662e-2462-45d0-b1d5-124745d05b46",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "z3UoK8pgqag75Snw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        400,
        0
      ],
      "id": "bebcb353-d501-4711-881a-fd5578c23528",
      "name": "When chat message received",
      "webhookId": "445cfdef-6ac8-4233-bf2e-4e9472e96df7"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        176
      ],
      "id": "279f605a-6c40-44ca-868b-4a1c63b39132",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg",
          "mode": "list",
          "cachedResultName": "Nola",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        176
      ],
      "id": "04d2fac3-159b-4a96-b8f7-d49423faf6d4",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D9Vh5dtQkxnbfqIT",
          "name": "Google Sheets account"
        }
      },
      "notes": "Use esta ferramenta para responder TODAS as perguntas dos clientes. Ela contém a base de conhecimento oficial da Nola sobre notas fiscais, suporte e horários. Não tente buscar em outras fontes."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg",
          "mode": "list",
          "cachedResultName": "Nola",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 920335414,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ob7n5UaKNqBKc2sbar9x5zFiREjxW4jxMLtOHFFzbLg/edit#gid=920335414"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data/Hora": "={{ $now }}",
            "Resposta da IA": "={{ $json.output.split('<')[0] }}",
            "Session ID": "={{ $execution.id }}",
            "Pergunta do Usuário": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data/Hora",
              "displayName": "Data/Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta do Usuário",
              "displayName": "Pergunta do Usuário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resposta da IA",
              "displayName": "Resposta da IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "8e4219ec-a2e1-49d3-b39a-9d314eef9cd2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D9Vh5dtQkxnbfqIT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c19ed0a0-a649-48d0-9433-675b0c934a03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d7c505a50ab6957f4f8ad8de37cce98e99c6fa00faea29542c3b4498836460c"
  },
  "id": "jSmOUl0r48rZcTA5",
  "tags": []
}